# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

# Web related
lib/generated_plugin_registrant.dart

# macOS related
**/macos/**/*.mode1v3
**/macos/**/*.mode2v3
**/macos/**/*.moved-aside
**/macos/**/*.pbxuser
**/macos/**/*.perspectivev3
**/macos/**/*sync/
**/macos/**/.sconsign.dblite
**/macos/**/.tags*
**/macos/**/.vagrant/
**/macos/**/DerivedData/
**/macos/**/Icon?
**/macos/**/Pods/
**/macos/**/.symlinks/
**/macos/**/profile
**/macos/**/xcuserdata
**/macos/.generated/
**/macos/Flutter/.last_build_id
**/macos/Flutter/App.framework
**/macos/Flutter/Flutter.framework
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/ephemeral/
**/macos/Flutter/app.flx
**/macos/Flutter/app.zip
**/macos/Flutter/flutter_assets/
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/GeneratedPluginRegistrant.*

# Linux related
**/linux/**/*.mode1v3
**/linux/**/*.mode2v3
**/linux/**/*.moved-aside
**/linux/**/*.pbxuser
**/linux/**/*.perspectivev3
**/linux/**/*sync/
**/linux/**/.sconsign.dblite
**/linux/**/.tags*
**/linux/**/.vagrant/
**/linux/**/DerivedData/
**/linux/**/Icon?
**/linux/**/Pods/
**/linux/**/.symlinks/
**/linux/**/profile
**/linux/**/xcuserdata
**/linux/**/.generated/
**/linux/Flutter/.last_build_id
**/linux/Flutter/App.framework
**/linux/Flutter/Flutter.framework
**/linux/Flutter/Flutter.podspec
**/linux/Flutter/Generated.xcconfig
**/linux/Flutter/ephemeral/
**/linux/Flutter/app.flx
**/linux/Flutter/app.zip
**/linux/Flutter/flutter_assets/
**/linux/Flutter/flutter_export_environment.sh
**/linux/Flutter/GeneratedPluginRegistrant.*

# Windows related
**/windows/**/*.mode1v3
**/windows/**/*.mode2v3
**/windows/**/*.moved-aside
**/windows/**/*.pbxuser
**/windows/**/*.perspectivev3
**/windows/**/*sync/
**/windows/**/.sconsign.dblite
**/windows/**/.tags*
**/windows/**/.vagrant/
**/windows/**/DerivedData/
**/windows/**/Icon?
**/windows/**/Pods/
**/windows/**/.symlinks/
**/windows/**/profile
**/windows/**/xcuserdata
**/windows/**/.generated/
**/windows/Flutter/.last_build_id
**/windows/Flutter/App.framework
**/windows/Flutter/Flutter.framework
**/windows/Flutter/Flutter.podspec
**/windows/Flutter/Generated.xcconfig
**/windows/Flutter/ephemeral/
**/windows/Flutter/app.flx
**/windows/Flutter/app.zip
**/windows/Flutter/flutter_assets/
**/windows/Flutter/flutter_export_environment.sh
**/windows/Flutter/GeneratedPluginRegistrant.*

# Test coverage
coverage/
